
<h2>Skills</h2>
<div class="informational-skills-wrapper" #langSkillsIntersection>
  <h3>Languages</h3>
  <div class="md:grid md:grid-cols-3">
    <ng-container *ngFor="let skill of getLanguageSkills(); let i = index">
      <app-skill
        [skill]="skill"
        appInitAnimation [delay]="i * 120" [animation]="animations.slideFromRight" [intersection]="langSkillsIntersection"
      ></app-skill>
    </ng-container>
  </div>

  <h3>Development skills</h3>
  <div class="grid grid-cols-3 gap-x-5 gap-y-14" #devSkillsIntersection>
    <ng-container *ngFor="let skill of getDevSkills(); let i = index">
      <div class="skill-wrapper">
        <img
          [src]="skill.ico" alt=""
          appInitAnimation [delay]="i * 80" [animation]="animations.slideIn" [intersection]="devSkillsIntersection"
        >
        <span class="tooltip">{{ skill.title }}</span>
      </div>
    </ng-container>
  </div>
</div>

