
<div class="flex justify-center bg-amber-300 shadow-md h-fit text-white">
  <div class="basis-2/3">

    <div class="flex flex-col space-y-2 p-2">
      <a class="font-bold">Contact me</a>
      <a>E-mail: <a href="/contact">mateuszjacenty1@gmail.com</a></a>
      <a>Phone number: +48 606-332-061</a>
    </div>

    <div class="flex flex-col text-xs border-t border-white space-y-2 p-2">
      <a href="http://www.freepik.com">Icons designed by rawpixel.com / Freepik</a>
    </div>

  </div>
</div>
