
<div class="flex flex-col md:flex-row bg-amber-300 shadow-md h-fit text-white md:space-x-14 p-2 justify-center">

  <div class="flex justify-center">
    <div>
      <div class="flex flex-col space-y-2 p-2">
        <a class="font-bold">Contact me</a>
        <a>E-mail: <a href="/contact">mateuszjacenty1@gmail.com</a></a>
        <a>Phone number: +48 606-332-061</a>
      </div>

      <div class="flex flex-col text-xs border-t border-white space-y-2 p-2">
        <a href="http://www.freepik.com">Icons designed by rawpixel.com / Freepik</a>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <app-clock class="w-[10rem] p-2 hidden"></app-clock>
  </div>

</div>


