
<div #navbar class="sticky-navbar">

  <div class="nav-row">
    <ng-container *ngFor="let route of availableRoutes">
      <div *ngIf="route.title">
        <a
          [ngClass]="{'btn-active' : isRoutePathActive(route.path!)}"
          class="route-link peer"
          routerLink="{{route.path}}">
          {{route.title}}
        </a>
        <div class="dropdown-peer">
          <a
            *ngFor="let child of route.children"
            class="dropdown-link"
            routerLink="/{{route.path}}/{{child.path}}">{{child.title}}
          </a>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="nav-row">
    <ng-container *ngFor="let link of externalLinks">
      <a class="external-links" href="{{link.url}}">
        <img class="external-link-img" src="{{link.icon}}" alt="{{link.title}}">
      </a>
    </ng-container>
    <app-color-theme-toggle class="center-horizontally"></app-color-theme-toggle>
  </div>

</div>
