
:host {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.arrow {
  --main-color: slategray;
  --dark-color: white;
}

.arrow .arrow-box {
  width: 1rem;
  height: 1rem;
  background-color: var(--main-color);
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: -5%;
}

.arrow .arrow-tip {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid var(--main-color);

  position: relative;
  top: -5%;
}

.arrow:hover {
  scale: 105%;
}
