<div class="flex flex-col space-y-10 justify-center text-slate-500">

  <a class="font-bold text-3xl text-center border-y md:font-extrabold md:text-5xl">Hi! Let me introduce myself!</a>

  <div class="flex flex-col space-y-5 md:space-x-5 md:flex-row">

    <div class="flex flex-col space-y-3 text-center">
      <div class="w-max self-center">
        <img class="rounded-full" src="../../../assets/pictures/myface.jpg">
      </div>
      <a class="font-bold text-4xl sd:text-4xl">Mateusz Jacenty</a>
      <a>Front-End Developer</a>
    </div>

    <div class="self-center max-w-xl">
      <p class="indent-8 leading-6 text-base">
        I am a graduate of IT-web/software programming at "<em>Collegium Witelona</em>" in Legnica.
        My goal is to find a job that allows me to gain professional experience and further
        improve my developer skills. I am a conflict-free, efficient, independent and flexible
        worker.
      </p>
    </div>

  </div>

</div>
