
:host {
  display: block;
  width: inherit;
  height: inherit;
  max-width: 8rem;
  aspect-ratio: 1/1;
}

.animate-spin {
  animation: spin 1.5s linear infinite;
}
.animate-grow {
  animation: grow 1.5s linear infinite;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes grow {
  0% {
    scale: 0.5;
  }
  50% {
    scale: 0.35;
  }
  100% {
    scale: 0.5;
  }
}
