
.slider {
  position: relative;
  height: 24px;
  @apply aspect-[2/1] m-auto bg-amber-100 dark:bg-gray-300 shadow-md rounded-full hover:cursor-pointer;
}

.slider-handle {
  position: absolute;
  transition: transform .2s ease-in-out;
  top: 0;
  left: 0;
  @apply w-[50%] bg-amber-300 dark:bg-gray-700 rounded-full;
}

.slider-handle.active {
  transform: translateX(100%);
}

.icon {
  @apply w-full h-full;
}
