
<div class="flex flex-col space-y-3 p-2 border shadow-inner h-full">

  <div class="flex flex-row overflow-clip flex-wrap font-bold" *ngIf="skill.title">

    <a class="min-w-[6rem] truncate" >{{skill.title}}</a>

    <div class="flex justify-start">
      <img class="w-6 h-6" src="assets/star.svg" *ngFor="let i of getFakeLevelArray()" alt="star">
      <img class="w-6 h-6" src="assets/star-empty.svg" *ngFor="let i of getFakeEmptyLevelArray()" alt="star-empty">
    </div>

  </div>

  <ng-container *ngIf="skill.desc">
    <p>{{skill.desc}}</p>
  </ng-container>

</div>
