
:host {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.house {
  --main-color: slategray;
  --dark-color: white;
}

.house .house-box {
  width: 1.5rem;
  height: 1rem;
  background-color: var(--main-color);
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: -5%;
}

.house-box .house-door {
  width: 0.35rem;
  height: 0.5rem;
  position: relative;
  top: calc(100% - 0.5rem);
  left: 0.8rem;
}

.house .house-roof {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid var(--main-color);

  position: relative;
  top: -5%;
}

.house:hover {
  scale: 105%;
}
