<div class="flex flex-col space-y-5 md:space-x-5 md:flex-row">

  <div class="flex flex-col space-y-3 text-center">
    <div class="w-max self-center">
      <img class="rounded-full" src="assets/pictures/myface.jpg">
    </div>
    <h2 class="font-bold text-4xl sd:text-4xl">{{fullName}}</h2>
    <h3>{{title}}</h3>
  </div>

  <div class="self-center max-w-xl">
    <h3 class="indent-8 leading-6 text-base">
      I am a {{age}} years old graduate of IT-web/software programming from "<em>Collegium Witelona</em>" in <em>Legnica</em> with engineer's degree.
      My goal is to find a job that allows me to gain professional experience and further
      improve my developer skills. I am a conflict-free, efficient, independent and flexible
      worker.
    </h3>
  </div>

</div>
