<div class="info-basic-content">

  <div class="pic-wrapper">
    <img class="personal-pic" src="assets/pictures/myface.jpg">
    <h2><b>{{fullName}}</b></h2>
    <h3>{{title}}</h3>
  </div>

  <div class="desc-wrapper">
    <p class="desc-paragraph">
      <b>Hi! Let me introduce myself!</b>
    </p>
    <br>
    <p class="desc-paragraph">
      I am highly motivated and quite experienced front-end developer. I am fully capable of writing well designed,
      testable, efficient code by using best software development practices, know how to integrate data from various back-end services and databases and
      create website layout/user interfaces by using standard HTML/CSS practices.
    </p>
    <br>
    <p class="desc-paragraph">
      Graduated from <em>{{education.universityName}} in {{education.where}}</em> with {{education.degree}} degree
      in {{education.in}}.
    </p>
  </div>

</div>
