<div class="info-basic-content" #intersectionBasicInfo>

  <div class="background-wrapper">
    <img class="background" src="assets/pictures/myfullface-min.png">
    <div class="overlay"></div>
  </div>

  <div class="desc-wrapper"
      appInitAnimation [animation]="animations.scaleUp" [delay]="0" [duration]="500" [intersection]="intersectionBasicInfo"
  >
    <p class="desc-paragraph"
        appInitAnimation [animation]="animations.slideIn" [delay]="700" [intersection]="intersectionBasicInfo"
    >
      <b>Hi! Let me introduce myself!</b>
    </p>
    <br>
    <p class="desc-paragraph"
        appInitAnimation [animation]="animations.slideIn" [delay]="780" [intersection]="intersectionBasicInfo"
    >
      My name is {{ personalInfoService.fullName }}. I am a {{ personalInfoService.age }} year old professional {{ personalInfoService.title }}.
      I am highly passionate about my job because I love designing and creating websites and games and also solving problems
      linked with this process.
    </p>
    <br>
    <p class="desc-paragraph"
        appInitAnimation [animation]="animations.slideIn" [delay]="860" [intersection]="intersectionBasicInfo"
    >
      In my free time I like to go out with my friends, work out, read various books/comics, play video games,
      or work on one of my current side projects.
    </p>
  </div>

</div>
