
<ng-container *ngIf="!currManga">

  <h2>Pick your poison</h2>
  <div *ngIf="isLoading" class="loading-wrapper">
    <app-loading-circle class="loading-circle"></app-loading-circle>
  </div>
  <div class="flex flex-wrap justify-center">
    <ng-container *ngFor="let manga of mangas | keyvalue">
      <img src="{{manga.value.pic}}"
           class="manga-cover-img"
           (click)="pickManga(manga.value)" alt="cover-img">
    </ng-container>
    <div class="manga-cover-img bg-slate-200"
        routerLink="/manga/create">
      <div class="plus-wrapper">
        <div class="plus-horizontal-line"></div>
        <div class="plus-vertical-line"></div>
      </div>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="currManga">

  <div *ngIf="isLoading" class="loading-wrapper">
    <app-loading-circle class="loading-circle"></app-loading-circle>
  </div>

  <div *ngIf="pages.length <= 0 && !isLoading">

    <button class="hover-button change-manga-button" (click)="changeManga()">
      < Back
    </button>
    <h1 class="py-4">{{currManga!.name}}</h1>

    <div class="chapter-list-wrapper">
      <ng-container *ngFor="let chapter of fakeArray.ofNumber(currManga.chapterCount+1, currManga.startingChapter)">
        <button
          class="hover-button"
          (click)="collectPages(currManga, chapter)">{{chapter}}
        </button>
      </ng-container>
    </div>

  </div>

  <ng-container *ngIf="pages.length > 0 && !isLoading">
    <div class="nav-button-grid">
      <app-arrow *ngIf="currManga!.startingChapter < currChapter!" class="left-arrow-button" (click)="previousChapter()"></app-arrow>
      <app-house class="house-button" (click)="clearChapter()"></app-house>
      <app-arrow *ngIf="currManga!.chapterCount > currChapter!" class="right-arrow-button" (click)="nextChapter()"></app-arrow>
    </div>
    <ng-container *ngFor="let page of pages">
      <img class="page-img" [src]="sanitizeUrl(page)" alt="page">
    </ng-container>
    <div class="nav-button-grid">
      <app-arrow *ngIf="currManga!.startingChapter < currChapter!" class="left-arrow-button" (click)="previousChapter()"></app-arrow>
      <app-house class="house-button" (click)="clearChapter()"></app-house>
      <app-arrow *ngIf="currManga!.chapterCount > currChapter!" class="right-arrow-button" (click)="nextChapter()"></app-arrow>
    </div>
  </ng-container>

</ng-container>

