<div class="form-wrapper">

  <a class="text-center text-4xl overflow-ellipsis">Create/scrap manga</a>

  <form (ngSubmit)="onSubmitCreate()" name="form" class="form">

    <div class="grid grid-cols-4 gap-2">
      <label for="name" class="form-label required">Title</label>
      <input id="name" name="name" required placeholder="Insert manga title.." type="text"
             [(ngModel)]="form.name" #name="ngModel"
             class="form-input col-span-3">

      <label for="pic" class="form-label required">Cover image url</label>
      <input id="pic" name="pic" required placeholder="Insert manga cover url.."
             [(ngModel)]="form.pic" #pic="ngModel" type="text"
             class="form-input col-span-3">

      <label for="startingChapter" class="form-label required">Starting chapter</label>
      <input id="startingChapter" name="startingChapter" required type="number" min="0" max="1"
             [(ngModel)]="form.startingChapter" #startingChapter="ngModel"
             class="form-input">

      <label for="chapterCount" class="form-label required">Chapter amount</label>
      <input id="chapterCount" name="chapterCount" required type="number" min="1" max="3000"
             [(ngModel)]="form.chapterCount" #chapterCount="ngModel"
             class="form-input">

      <label for="positions" class="form-label col-span-4 required">Possible positions in html</label>
      <textarea id="positions" name="positions" required type="text"
                placeholder='eg. [".separator > a", ".separator", ".wp-block-image > figure"]'
             [(ngModel)]="form.htmlLocate.positions" #positions="ngModel"
             class="form-textarea col-span-4"></textarea>

      <label for="lookedType" class="form-label required">Field type</label>
      <input id="lookedType" name="lookedType" required type="text"
             placeholder='eg. img'
             [(ngModel)]="form.htmlLocate.lookedType" #lookedType="ngModel"
             class="form-input">

      <label for="lookedAttr" class="form-label required">Attribute</label>
      <input id="lookedAttr" name="lookedAttr" required type="text"
             placeholder="eg. src"
             [(ngModel)]="form.htmlLocate.lookedAttr" #lookedAttr="ngModel"
             class="form-input">

      <label for="urls" class="form-label col-span-4 required">Possible urls</label>
      <textarea id="urls" name="urls" required type="text"
                placeholder='eg. ["http://localhost/manga-!!!"]
Place "!!!" in place of chapter number'
                [(ngModel)]="form.htmlLocate.urls" #urls="ngModel"
                class="form-textarea col-span-4"></textarea>

      <div class="col-span-4">
        <re-captcha (resolved)="resolveCaptcha($event)" siteKey="6Lev1UMiAAAAAHeyLdZBRYESdau5A4390p9Mwtry"></re-captcha>
      </div>

      <button class="form-submit" type="button" (click)="onSubmitTest()"
              [disabled] = "name.invalid || pic.invalid || startingChapter.invalid || chapterCount.invalid
              || positions.invalid || lookedType.invalid || lookedAttr.invalid || urls.invalid || !captcha">
        <a>Test</a>
        <div *ngIf="this.mangaCreateService.loading.test === true" class="h-full"><app-loading-circle></app-loading-circle></div>
      </button>

      <button class="form-submit" type="submit"
              [disabled]="!mangaCreateService.isApproved() || !captcha">
        <a>Submit</a>
        <div *ngIf="this.mangaCreateService.loading.submit === true" class="h-full"><app-loading-circle></app-loading-circle></div>
      </button>

    </div>


  </form>

</div>
